#wrapper{
	display: flex;
    width: 100%;
    align-items: stretch;
}

.list-group {
	width: 13rem;
}

.sidebar_padding{
	padding:0.875rem 1.25rem;
	font-size:15pt;
}

.dark_background{
	background-color:rgb(51,51,51);
	color:white;
}

.dark_background2{
	background-color:rgb(61,61,61);
	color:white;
}

.mainsidebar{
	min-height:100vh; width:14rem
}

.user_info{
	position:fixed;
	top: 0.8em;
	right: 1em;
}

@media only screen and (max-width: 600px) {
  .user_info{
	position:normal;
	top: 1.1em;
    font-size:15px;
  }
}

.row_image{
	margin-right:5px;
	margin-bottom:5px;
	width:32px;
	height:32px;
}

.mytable{
	padding:15px;
	background-color: white;
	border-style:solid;
	border-radius: 0;
	border-width:1px;
	border-color:rgba(180,180,180,1);
}

table.dataTable tbody>tr.select, table.dataTable tbody>tr>.select{
	background-color:rgba(0,0,0,.05);
	font-weight:bold;
}

#left_sidebar{
	transition: margin 700ms;
}

#left_sidebar.activated{
	margin-left:-223px;
}