
.separador{
  content: "";
  width: 3px;
  height: 155px;
  background-color: white;
}

.Lista{
	font-family:Segoe UI;
    width: 100%;
    font-weight:normal;
	margin-bottom: 5%;
    margin-right: 5%;
    margin-left: inherit;
    float: left;
}

.Lista h2{
	font-weight:bold;
}

.lista_div{
    margin-left: 10%;
	margin-top: 10%;
}

.lista_container{
    width: 250%;
}
