body{
	font-family:"verdana";
}

.front_text{
    display: flex;
    /*margin-left: 10%;
    margin-bottom: 35%;*/
    
    margin-top: 10%;
    margin-bottom: 15%;
}

.Imtext{
    /*margin-left: 5%;*/
}

.div_button{
    margin: auto;
    width: 10%;
    padding: 10px;
}

.main_text{
    font-family: 'Oxanium';
    color: white;
    font-weight: bold;
    font-size: 400%;
    width: 550px;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0.3s;
}

.lower_text{
    font-family: 'Oxanium';
    color: rgb(192,192,192);
    font-weight: bold;
    font-size: 150%;
    width: 400px;
    text-align: left;
    margin-left: 20%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0.7s;
}

.servico_button{
	color:rgba(0,128,195,1);
	border-color:#00a2e8;
}

.servico_button:hover, .servico_button:focus, .servico_button:active{
	color:white;
	background-color:rgba(0,128,195,1);
}

.servicos_card{
	border-radius: 0;
	border-color:rgba(180,180,180,1);
	/*box-shadow: 7px 7px 10px 0px rgb(0,0,0,0.2)*/
}

.servicos_card:hover{
	border-color:rgba(0,128,195,1);
	/*background-color: rgba(0,190,255,0.1);*/
	width: 19rem;
	border-width:2px;
	cursor: pointer;	
}

.servicos_lista{
	margin-left:2%;
	margin-right:2%;
}

.slide_captions{
	/*padding-bottom: 5%;*/
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
	
}

.row{
	margin-left:0;
	margin-right:0;
}

@keyframes flt {
	0% {
        transform: translatey(70px);
        
	}
	50% {
        transform: translatey(30px);
        
	}
	100% {
        transform: translatey(70px);
            
	}
}

.POS{   
    /*animation: flt 5s ease-in-out infinite;*/
    margin-left: 2%;
}