#login .container #login-row #login-column #login-box {
  margin-bottom: 120px;
  margin-top: 100px;
  max-width: 600px;
  min-height: 370px;
  border: 1px solid rgba(180,180,180,1);
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
/*#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}*/

#login .container #register-link a{
	font-size:14px;
	text-decoration:none;
	font-weight:500;
	color: #1a73e8;
}

#login .form-control{
	display:block;
	border:none;
}

#login .log_button{
	margin: 0 auto;
	display:block;
	background-color: #1a73e8;
	color:white;
	width:35%;
	border-radius:50px;	
}

#login .log_button{
	background-color: #1a73e8;
}

#login .log_button:hover{
	background-color: #1547c5;
}


#login .form-controla{
	display:block;
	position:relative;
	margin: 4em auto;
	border:none;
	border-bottom: 1px solid rgba(180,180,180,1);
	transition: all 0.5s ease;
	width:100%;
	margin-top:25px;
	margin-bottom:25px;
}

#login .form-controla:focus {
	outline: none;
	border-bottom: 1px solid blue;
	transition: all 0.5s ease;
	font-size:19px;
	
}

#login-img.signin{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;}
