body{
	background-color: white;
}

.front_text{
    display: flex;
    /*margin-left: 10%;
    margin-bottom: 35%;*/
    
    margin-top: 10%;
    margin-bottom: 15%;
}

.div_button{
    margin: auto;
    width: 10%;
    padding: 10px;
}
 

.main_text{
    font-family: 'Oxanium';
    color: white;
    font-weight: bold;
    font-size: 400%;
    width: 550px;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0s;
}

.lower_text{
    font-family: 'Oxanium';
    color: rgb(192,192,192);
    font-weight: bold;
    font-size: 150%;
    width: 400px;
    text-align: left;
    margin-left: 20%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0.4s;
}

@keyframes flt {
	0% {
        transform: translatey(70px);
        
	}
	50% {
        transform: translatey(30px);
        
	}
	100% {
        transform: translatey(70px);
            
	}
}

.Lista{
	font-family:Segoe UI;
    width: 500px;
	font-weight:normal;
    margin-bottom: 5%;
    margin-right: 5%;
    float: left;
}

.Lista h2{
	font-weight:bold;
}

.lista_div{
    margin-left: 10%;
	margin-top: 10%;
}

.lista_container{
    width: 250%;
}