.front_text{
    display: flex;
    /*margin-left: 10%;
    margin-bottom: 35%;*/

    margin-top: 10%;
    margin-bottom: 15%;
}

.Imtext{
    /*margin-left: 5%;*/
}

.div_button{
  float: left;
    margin-left: 50px;
    width: 50%;
    padding: 10px;
}

.main_text{
    font-family: 'Oxanium';
    color: white;
    font-weight: bold;
    font-size: 220%;
    width: 550px;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0.3s;
}

.lower_text{
    font-family: 'Oxanium';
    color: rgb(192,192,192);
    font-weight: bold;
    font-size: 110%;
    width: 60%;
    text-align: left;
    margin-left: 20%;
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
    animation-delay: 0.7s;
}

@keyframes flt {
	0% {
        transform: translatey(70px);

	}
	50% {
        transform: translatey(30px);

	}
	100% {
        transform: translatey(70px);

	}
}

.POS{
    /*animation: flt 5s ease-in-out infinite;*/
    margin-left: 2%;
}
