#login .container #login-row #login-column #login-box {
  margin-bottom: 120px;
  margin-top: 100px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


#login-img.signin{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50px;}
