@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

body{
    background-color: whitesmoke;
    margin: 0;
}

.bg-light{
	background-color: white;
}

/*#navbar{
    background-color: white;
    width: 100%;
    overflow: hidden;
    height: 70px;
    /*line-height: 40px;*/
/*}

#navbar .logo{
    margin-top: 0.6%;
    margin-left: 1%;
}

#navbar .signin{
    margin-top: -3%;
    margin-right: 8%;
}*/
/*
#navbar_options{
    margin-top: 1.1%;
    font-family: verdana;
    display: flex;
    flex-direction: row-reverse;
    float: right;
}*/

.bg-light{
	background-color:white;
}

.navbar-light .navbar-nav .nav-link{
	color: rgb(54, 54, 54);
	font-family:Verdana;	
}

.navbar-light .navbar-nav .nav-link:hover{
	color: rgb(67, 149, 212);
}

.opcao{
    margin-right: 15%;
    /*color: rgb(153, 153, 153);*/
    color: rgb(54, 54, 54);
    font-weight: 400;
    /*font-weight: bold;*/

}

.opcao:hover{
    color: rgb(67, 149, 212);
}

.navbar{
	position:fixed;
	top:0;
	width:100%;
	z-index:5;
}

.dropdown-menu{
	z-index:6;
}

.before_navbar{
	margin-top: 70px;
}

.navbar-nav > li{
    margin-left:15px;
    margin-right:15px;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translatey(70px);
    }

    /*80{
        transform: translatey(25px);
    }
    */

    100%{
        opacity: 1;
        transform: translatey(30px);
    }
}

.separador{
    content: "";
    width: 3px;
    height: 155px;
    background-color: white;
}

.footer{
	font-size:15px;
    color: white;
    font-family: Verdana;
}

.footer h6{
	font-size:15px;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.load{
    opacity: 0;
    animation: load 1s ease-in-out 1 forwards;
}
